/*-----
 font family------
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* header style */
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #ffffff;
  width: 1110px;
  padding: 30px;

  border-radius: 5px;
}

.header {
  text-align: center;
}

.header-left h5 {
  font-size: 24px;
  color: #3a3a3a;
}

.start {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  /* align-items: center; */
}

.journey h1 {
  font-size: 52px;
  font-weight: 600;
  color: #3a3a3a;
}
.journey p {
  font-size: 16px;
  color: #3a3a3a;
}
.prebook {
  background: #e02c6d;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 41px;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
}
.camera img {
  width: 100%;
  /* background-image: url(images/Circle\ design.svg); */

  transition: 5s;
}
.camera img:hover {
  transform: scale(-1);
}

/*--------
 popular-collection
 ------ */

.popular {
  gap: 30px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.popular-heading h2 {
  color: #3a3a3a;
  font-size: 28px;
  text-align: center;
  margin: 49px;
}
.popular-info {
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 17px;
}
.popular-info img {
  width: 313px;
  border-radius: 5px;
}
.popular-info h3 {
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
}

.popular-info h4 {
  color: #000000;
  font-size: 24px;
}
.fa-star {
  color: #fb8200;
  width: 16px;
}

.word {
  color: #787885;
  font-size: 16px;
}
.popular-last {
  text-align: right;
  /* margin-right: 0px; */
  margin-top: 30px;
}
.popular-last a {
  text-decoration: none;
  color: #e02c6d;
  font-size: 16px;
  border: none;
}

/*--------------
 featured-area 
 -----------------------*/
.featured-area {
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature {
  background-color: #074c60;
  padding-bottom: 62px;
  margin-top: 40px;
  width: 100%;
}
.business {
  text-align: center;
  padding-top: 45px;
}
.business > .fa-briefcase {
  font-size: 24px;
  color: white;
}
.business h3 {
  color: white;
  font-size: 24px;
}
.business p {
  font-size: 20px;
  color: #fdd271;
}
.support-area {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.support {
  width: 90%;
  padding: 20px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 10px;
}
.icon {
  font-size: 40px;
}
.support p {
  font-size: 15px;
}
.find {
  margin-top: 25px;
  text-align: center;
}
.find-btn {
  background-color: #e02c6d;
  color: white;
  padding: 14px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
/*-------------------
 footer start
------------- */

footer {
  text-align: center;
  background-color: #0a0826;
  padding: 50px 0;
}
footer h2 {
  font: size 24px;
  color: #fff;
  font-weight: 600;
}
footer p {
  font-size: 14px;
  color: #d9dbe1;
}
footer h3 {
  font-size: 14px;
  color: #d9dbe1;
}

.social-icon a {
  height: 32px;
  color: white;
  padding: 7px;
  background-color: #8080803b;
  border-radius: 50%;
}

/* responsive style */

@media only screen and (max-width: 687px) {
  .main,
  .container,
  .header,
  .start,
  .collection,
  .popular,
  .feature,
  .footer-area {
    width: 100%;
  }
  .footer-area {
    display: block !important;
    padding: 0px !important;
    margin: 0px !important;
  }
  .start,
  .popular,
  .support-area {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .journey {
    text-align: center;
    padding: 10px;
  }
  .journey h1 {
    font-size: 24px;
  }
  .popular-heading h2 {
    font-size: 23px;
  }
}

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container,
  .header,
  .start,
  .collection,
  .popular,
  .featured-area,
  .footer-area {
    width: 100%;
  }
  .start,
  .popular,
  .support-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
